.ops-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  #toggles {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .ops-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    #toggles {
      justify-content: center;
    }
  }
}
